@model BlogHost.Models.ArticleViewModel
@{ 
    int? loggedUserId = ViewBag.LoggedUserId;
}

<div class="row dark-background text-wrap">
    <div class="col-md-10 col-sm-10">
        <h2>@Model.Title</h2>
    </div>
    <div class="col-md-2 col-sm-2">
        @if (User.Identity.IsAuthenticated && (Roles.IsUserInRole("Moderator") || Model.AuthorId == loggedUserId))
        {
            <ul class="list-inline pull-right">
                <li><a href="@Url.Action("Edit", new { id = Model.ArticleId })" class="btn btn-primary"><i class="glyphicon glyphicon-wrench"></i></a></li>
                <li><a href="@Url.Action("Delete", new { id = Model.ArticleId })" class="btn btn-primary"><i class="glyphicon glyphicon-trash"></i></a></li>
            </ul>
        }
    </div>
</div>    
<div class="row bordered">
    <div>
        <ul class="list-inline">
            <li><i class="glyphicon glyphicon-tags"></i> Tags:</li>
            <li><a class="btn btn-default" href="@Url.Action("ByTagName","Search", new { tagName = Model.Tag1})"><i class="glyphicon glyphicon-tag"></i> @Model.Tag1</a></li>
            @if (Model.Tag2 != null)
            {
                <li><a class="btn btn-default" href="@Url.Action("ByTagName", "Search", new { tagName = Model.Tag2 })"><i class="glyphicon glyphicon-tag"></i> @Model.Tag2</a></li>
            }
            @if (Model.Tag3 != null)
            {
                <li><a class="btn btn-default" href="@Url.Action("ByTagName", "Search", new { tagName = Model.Tag3 })"><i class="glyphicon glyphicon-tag"></i> @Model.Tag3</a></li>
            }
        </ul>
        <h5>Publication date: @Model.CreationDate.ToString("MMMM dd, yyyy H:mm", new System.Globalization.CultureInfo("En-GB"))</h5>
    </div>
    <hr />
    <p class="lead text-wrap text-left">@Html.Raw(Model.Text)</p>
</div>

<div class="row bordered">
    <h3 class="text-center">Comments</h3>
    @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
    {
        <form role ="form">
            <div class="form-group">
                @Html.TextArea("Comment", new { @class = "form-control", placeholder = "Your comment" })
            </div>
            <input type="submit" class="btn btn-primary" value="Leave a comment"/>
        </form>
    }

</div>
