@model BlogHost.Models.ArticleViewModel
@{
    ViewBag.Title = "Edit article";
}
<div class="bordered">
    @using (Html.BeginForm("Edit", "Article", FormMethod.Post, new { role = "form" }))
    {
        @Html.HiddenFor(x => x.ArticleId)
        <h2 class="text-center">Edit article</h2>
        <div class="form-group">
            @Html.Label("First tag:")
            @Html.ValidationMessageFor(x => x.Tag1)
            @Html.TextBoxFor(x => x.Tag1, new { placeholder = "First Tag (required)", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Second tag:")
            @Html.TextBoxFor(x => x.Tag2, new { placeholder = "Second Tag (not required)", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Third tag:")
            @Html.TextBoxFor(x => x.Tag3, new { placeholder = "Third Tag (not required)", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Article title:")
            @Html.ValidationMessageFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { placeholder = "Article title", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Article text:")
            @Html.ValidationMessageFor(x => x.Text)
            @Html.TextAreaFor(x => x.Text, new { placeholder = "Write text here", @class = "form-control limited-textarea-width", rows = "10" })
        </div>
        <input type="submit" class="btn btn-primary" value="Save changes" />
    }
</div>
