@using BlogHost.Infrastructure
@model BlogHost.Models.EntityListViewModel<BlogHost.Models.ArticleViewModel>
@{ 
    string keyword = ViewBag.Keyword;
    string tagName = ViewBag.TagName;
}

<div class="bordered">
    <h2>SearchResult for @SearchResult(keyword, tagName)</h2>
    <h3>Found: @Model.PagingInfo.TotalItems articles</h3>
    @Html.Partial("ArticleListPartial", Model)
    @if (Model.PagingInfo.TotalPages != 0)
    {
        <div class="text-center">
            <ul class="pagination">
                @if (tagName == null)
                {
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x, keyword = keyword }))
                }
                else
                {
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("ByTagName", new { page = x, keyword = keyword, tagName = tagName }))
                }
            </ul>
        </div>
    }
</div>

@helper SearchResult(string keyword, string tagName)
{
    if(keyword == null)
    {
        @:tag "@tagName"
    }
    else
    {
        @:keyword "@keyword"
    }
}