@using BlogHost.Infrastructure
@using BlogHost.Models
@model ORM.Entity.User
@{
    ViewBag.Title = "Account";
}

<div class="row dark-background">
    <div class="col-md-6 col-sm-6">
        <h2>Blog: @Model.Email</h2>
    </div>
    <div class="col-md-6 col-sm-6">
        @if (User.Identity.IsAuthenticated && Roles.IsUserInRole("Admin") && Model.Email != User.Identity.Name)
        {
        <div class="dropdown pull-right">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Administration
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Edit", "User", new { id = Model.UserId })" id="@Model.UserId">Edit user</a></li>
                <li><a href="@Url.Action("Delete", "User", new { id = Model.UserId })" id="@Model.UserId">Delete user</a></li>
            </ul>
        </div>
        }
    </div>
</div>    

<div class="row bordered">
    <div class="col-md-3">
        <img alt="User Picture" src="~/Content/Images/logo.png" class="img-rounded avatar">
        @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.Email)
        {
            @Html.ActionLink("Change avatar", "index", "Article", new { @class = "btn btn-primary btn-block" })
        }
    </div>
    <div class="col-md-9">
        <table class="table">
            <tbody>
                <tr>
                    <td>User name:</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Registration date:</td>
                    <td>@Model.CreationDate.ToString("MMMM dd, yyyy", new System.Globalization.CultureInfo("En-GB"))</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><a href="mailto:@Model.Email">@Model.Email</a></td>
                </tr>
            </tbody>
        </table>
        @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.Email && Roles.IsUserInRole("User"))
        {
            <a href="@Url.Action("Create", "Article")" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New article</a>
        }
        @Html.Action("ForUser", "Article", new { id = Model.UserId, page = ViewBag.CurrentPage})
        @{
            PagingInfo pagingInfo = (PagingInfo)TempData["PagingInfo"];
        }
        @if (pagingInfo.TotalPages != 0)
        {
            <div class="text-center">
                <ul class="pagination">
                    @Html.PageLinks(pagingInfo, x => Url.Action("Index", new { id = Model.UserId, page = x }))
                </ul>
            </div>
        }
    </div>
</div>
