<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand no-padding"><img src="~/Content/Images/logo.png"/>BlogHost Application</a>
            </div>
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/Account">My account</a></li>
                    @*<li>@Html.ActionLink("My account", "Index", "Account")</li>*@
                    if (Roles.IsUserInRole("Admin"))
                    {
                        <li>@Html.ActionLink("User administration", "Index","User", null, new { @class = "active"})</li>
                    }
                }
                @if (!(User.Identity.IsAuthenticated && Roles.IsUserInRole("Admin")))
                {
                    <li>@Html.ActionLink("Search", "Index", "Search")</li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    if (Session["username"] == null)
                    {
                        Session["username"] = Membership.GetUser(User.Identity.Name).UserName;
                    }
                    <p class="navbar-text">Hello, @Session["username"]!</p>
                    <li><a href="@Url.Action("LogOut", "Account")"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("LogIn", "Account")"><i class="glyphicon glyphicon-log-in"></i> Log in</a></li>
                    <li><a href="@Url.Action("Registration", "Account")"><i class="glyphicon glyphicon-user"></i> Sign in</a></li>
                }
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <p class="text-center">&copy; @DateTime.Now.Year - BlogHost Application</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
