@using BlogHost.Infrastructure
@model BlogHost.Models.EntityListViewModel<BlogHost.Models.ArticleViewModel>
@{
    Layout = null;
    string userEmail = ViewBag.UserEmail;
}
@if (!(User.Identity.IsAuthenticated && Roles.IsUserInRole(User.Identity.Name, "Admin")))
{
    if (Model.Items.Count() != 0)
    {
        <h3 class="text-center">Articles</h3>
    }
    else
    {
        <h3 class="text-center">There are no articles yet</h3>
    }
    foreach (var article in Model.Items)
    {
        <div class="panel panel-default">
            <div class="custom-panel-heading">
                <div class="row">
                    <div class="col-md-10 text-wrap">
                        <h4>@article.Title</h4>
                    </div>
                    <div class="col-md-2">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.Identity.Name == userEmail || Roles.IsUserInRole("Moderator"))
                            {
                                <ul class="list-inline pull-right">
                                    <li><a href="@Url.Action("Edit", new { id = article.ArticleId })" class="btn btn-primary"><i class="glyphicon glyphicon-wrench"></i></a></li>
                                    <li><a href="@Url.Action("Delete", new { id = article.ArticleId })" class="btn btn-primary"><i class="glyphicon glyphicon-trash"></i></a></li>
                                </ul>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="panel-body text-wrap">
                @if (article.Text.Length > 400)
                {
                    <p>@article.Text.Substring(0, 400)...</p>
                }
                else
                {
                    <p>@article.Text</p>
                }
            </div>
            <div class="panel-footer dark-gray">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h5>Publication date: @article.CreationDate.ToString("MMMM dd, yyyy", new System.Globalization.CultureInfo("En-GB"))</h5>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <a href="@Url.Action("Details", "Article", new {id = article.ArticleId })" class="btn btn-primary pull-right">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="text-center">
        <ul class="pagination">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
        </ul>
    </div>
}